<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>p4</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        body{
            background-color: #FFDCDC;
        }
        #cercle{
            width: 256px;
            height: 256px;
            border-radius: 256px;
            background: #FFDA05;
        }
        #rectangle{
            width: 200px;
            height: 200px;
            background-color: #447558;
        }
        #rectangle_allargat{
            width: 100px;
            height: 200px;
            background-color: #447558;
        }
        #triangle{
            width: 0;
            height: 0;
            border-left: 256px solid transparent;
            border-right: 256px solid transparent;
            border-bottom: 256px solid black;
        }
        #ellipse{
            width: 400px;
            height: 256px;
            border-radius: 600px;
            background: #CB4D08;
        }
        
    </style>
</head>
<body>
    <div id="cercle"></div>
    <div id="rectangle"></div>
    <div id="triangle"></div>
    <div id="rectangle_allargat"></div>
    <div id="ellipse"></div>
</body>
</html>